body {
	background-color: grey;
	margin-right: 20%;
	margin-left: 20%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 3%;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: gold;

}

img {
	width: 50%;
	height: 25%;
	display: block;
	margin-left: 25%;
	margin-right: 25%;
}

#navlinks {
	text-align: center;
}